.main-logo{
  text-align: center;
}
.main-logo {
  background: url("/images/Vector.png") center bottom/1200px 57px no-repeat, url("/images/main-logo.jpg") center top/1200px 485px no-repeat;
  height: 485px;
}
.advantages-list li:nth-child(2){
  background-image: url(/images/main-logo-real-city.jpg);
  height: 384px;
  width: 800px;
}
.advantages-list li:nth-child(6){
  background-image: url(/images/main-logo-bridge.jpg);
  height: 384px;
  width: 800px;
}
