@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  list-style: none;
}

.navigation-link,
.pagination-link {
  text-decoration: none;
  color: inherit;
}

.navigation-user-list,
.advantages-item,
.footer-list {
  list-style: none;
}

.main-logo {
  height: 485px;
  background: url("../images/zigzag.svg") center bottom/1200px 57px no-repeat, url("../images/intro.jpg") center top/1200px 485px no-repeat;
  text-align: center;
}

.title,
.additionally-advantages-list,
.main-search {
  text-align: center;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.main-subtitle {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-list .advantages-item:nth-child(1),
.advantages-list .advantages-item:nth-child(5) {
  background: #82B3D3;
  color: #ffffff;
}

.advantages-list .advantages-item:nth-child(3) {
  background: rgba(131, 179, 211, 0.2);
  color: #333333;
}

.advantages-list .advantages-item:nth-child(2),
.advantages-list .advantages-item:nth-child(4) {
  background: rgba(131, 179, 211, 0.12);
  color: #333333;
}

.additionally-advantages-list .advantages-item:nth-child(1),
.additionally-advantages-list .advantages-item:nth-child(3) {
  background: rgba(131, 179, 211, 0.12);
  color: #333333;
}

.additionally-advantages-list .advantages-item:nth-child(2) {
  color: #333333;
}

.main-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  width: 376px;
  height: 52px;
  border: 0px;
  border-radius: 4px;
}

.main-mail {
  height: 415px;
  background: url("../images/mail.jpg") center top/ 1200px 415px no-repeat;
  text-align: center;
}

.mail-text {
  color: #ffffff;
}

.main-mail-text {
  width: 452px;
  height: 52px;
  background: #F2F2F2;
  border-radius: 4px 0px 0px 4px;
  border: 0px;
  padding: 0 0 0 20px;
}

.main-mail-button {
  width: 232px;
  height: 52px;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 0px 4px 4px 0px;
  border: none;
}

.footer-number a {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
  text-decoration: none;
}

/*  Каталог */

.inner-header {
  color: #ffffff;
  background: url("../images/inner.jpg") center top/1200px 408px no-repeat;
}

.inner-header-title {
  font-style: normal;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs,
.catalog-filter-list,
.hotel-list,
.pagination {
  list-style: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control-input {
  line-height: 23px;
}

.button-submit {
  width: 191px;
  height: 36px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
}

.button-reset {
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  text-transform: uppercase;
}

.result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control option {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card a {
  color: #000000;
  text-decoration: none;
}

.button-favourites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
}

.hotel-value,
.hotel-price {
  color: #333333;
}

.hotel-stars {
  width: 20px;
  height: 20px;
  background: url("../images/catalog-star.svg") 0 0/18px 17px no-repeat;
}

.hotel-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}
